@use 'variables' as *;

:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};
  --border: #{$border-light};
  --accent: #{$zinc-100};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark};
    --foreground: #{$foreground-dark};
    --border: #{$border-dark};
    --accent: #{$zinc-900};
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
}

body {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}