@use '@/styles/variables' as *;

.card {
  background: var(--background);
  border-radius: $radius-base;
  padding: 1.5rem;
  border: 1px solid var(--border);
  transition: border-color 0.2s ease;
  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    background: #0c0c0e; // Slightly lighter than background
  }

  &:hover {
    border-color: var(--foreground);
    @media (prefers-color-scheme: light) {
      border-color: $zinc-300;
    }
  }
}