@use '@/styles/variables' as *;

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background: transparent;
  border: 1px solid var(--border);
  border-radius: $radius-base;
  color: var(--foreground);
  font-size: 0.875rem;
  transition: all 0.2s;
  font-family: inherit;

  &::placeholder {
    color: $zinc-400;
  }

  &:focus {
    outline: none;
    border-color: var(--foreground);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.error {
    border-color: $error-color;
  }
}